<?xml version="1.0"?>
<configuration>
  <!-- 
  ////////////////////////////////////////////////////////////////////////////
  ///// X Framework Configuration File Defination
  ////////////////////////////////////////////////////////////////////////////-->
  <configSections>
    <sectionGroup name="x.configuration">
      <section name="customErrors" type="X.Configuration.CustomErrorSectionHandler,X.Net" />
      <section name="environments" type="X.Configuration.EnvironmentSectionHandler,X.Net" />
    </sectionGroup>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="UI.Abstracts.WebViewPageBase">
      <namespaces>
				<add namespace="AppContext = Canam.AppContext"/>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="X" />
        <add namespace="X.Web.Extensions" />
        <add namespace="X.Web.Mvc" />
        <add namespace="X.Web.Entities" />
        <add namespace="X.Web.Entities.Extensions" />
        <add namespace="X.Extensions" />
        <add namespace="Enums" />
        <add namespace="Helpers" />
        <add namespace="UI.Abstracts" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <!-- 
  //////////////////////////////////////////////////////////////////////////// -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="PickupDirectoryFromIis" />
    </mailSettings>
  </system.net>
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" batch="false" defaultLanguage="c#"
      targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows" />
    <!--
     *
     * Also need to uncomment location settings below
     *
    <authentication mode="Forms">
      <forms name="xForm" loginUrl="~/Modules/Login/login.aspx">
      </forms>
    </authentication>
    -->
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <deny users="?" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="true" requestLimit="20" pageOutput="false" traceMode="SortByTime" localOnly="false" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="Off" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" resourceProviderFactoryType="X.Web.Globalization.SqlResourceProviderFactory" />
    <httpModules>
      <clear />
      <add name="OutputCache" type="System.Web.Caching.OutputCacheModule" />
      <add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
      <add name="PassportAuthentication" type="System.Web.Security.PassportAuthenticationModule" />
      <add name="RoleManager" type="System.Web.Security.RoleManagerModule" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
      <add name="FileAuthorization" type="System.Web.Security.FileAuthorizationModule" />
      <add name="AnonymousIdentification" type="System.Web.Security.AnonymousIdentificationModule" />
      <add name="Profile" type="System.Web.Profile.ProfileModule" />
      <add name="ServiceModel" type="System.ServiceModel.Activation.HttpModule, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
      <add name="ScriptModule-4.0" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CustomApplicationStateModule" type="X.Web.CustomApplicationStateModule, X.Web.GlobalApplicationStateManager" />
      <add name="XSession" type="X.Web.ApplicationStateModule, X.Web" />
      <!--<Offline> 
      Uncomment the following to Take application offline-$>
      <add name="XOffline" type="X.Web.OfflineModule, X.Web"/>
      <!$-</Offline>-->
    </httpModules>
    <httpRuntime requestValidationMode="2.0" />
    <pages pageBaseType="UI.Abstracts.PageBase" validateRequest="false">
      <controls>
        <add assembly="X.Web" namespace="X.Web.UI.WebControls" tagPrefix="xui" />
      </controls>
      <namespaces>
				<add namespace="AppContext = Canam.AppContext"/>
        <add namespace="System.Globalization" />
        <add namespace="System.Diagnostics" />
        <add namespace="X" />
        <add namespace="X.Extensions" />
        <add namespace="X.Web.Extensions" />
        <add namespace="X.Web.Globalization" />
        <add namespace="X.Web.UI.WebControls" />
        <add namespace="X.Web.Entities" />
        <add namespace="X.Web.Entities.Extensions" />
        <add namespace="Helpers" />
        <add namespace="Enums" />
        <add namespace="Entities" />
        <add namespace="Entities.AppState.Extensions" />
        <add namespace="UI.Abstracts" />
      </namespaces>
    </pages>
  </system.web>
  <location path="library">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="StaticFileHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      </handlers>
    </system.webServer>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="StaticFileHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      </handlers>
    </system.webServer>
  </location>
  <!-- ***************************************************************************-->
  <!--//////////////////////////////////////////////////////////////////////////-->
  <!-- X Framework Configurations Defination                 ////-->
  <!--//////////////////////////////////////////////////////////////////////////-->
  <x.configuration>
    <!-- Custom Errors 
      Specify pages to handle different types of exception and error
      - defaultRedirect/redirect: the page to display message
      - defaultContacts/contacts: contact person for this error 
        Format: {name};{email}|{name};{email}
    -->
    <customErrors defaultRedirect="Modules/Errors/Err.aspx" defaultContacts="csitechsupport;csitechsupport@canamsolutionsinc.com">
      <errorHandler />
    </customErrors>
    <!-- 
      appType: 
        Web      - web application (default value)
        SmartClient  - smart application
    -->
    <environments appType="Web">
      <!-- 
      +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++ Default Settings 
      +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      -->
      <defaultEnvironment>
        <!-- application settings
          id:            application Id
          name:          application name
          defaultUrl:        Home page where the root default.aspx will redirect to 
          webFarmEnabled:      indicating whether web farm is enabled, default is 'false'
          sessionCheckSPSuffix:  change default custom session check stored procedure's suffix here.
                      NOTE: - overridable at user's settings
                          - stored procedure's format - XNET2_SessionCheck_AppId_{App Id}[sessionCheckSPSuffix]
        -->
        <application id="2" name="Parts &amp; Service Quoter" defaultUrl="~/modules/Quote/Quote_list.aspx" webFarmEnabled="false" sessionCheckSPSuffix="" defaultManagerProvider="ApplicationStateManager">
          <pages theme="Cat" masterPageFile="~/library/masterPages/_default.master" />
          <providers>
            <add name="ApplicationStateManager" type="ApplicationStateManager" />
          </providers>
        </application>
        <!-- data connection settings
          
          ATTRIBUTES:
          
            - defaultRegistrySubKey:    Registry key for connection string (default 'Toromont .Net Framework', production: 'Toromont .Net Framework\Production' )
            - defaultCommandTimeout:  timeout value for command object (in seconds)
            - defaultDataSourceKey:  Provides the key used to parse data source from connection string (if omit 'Server' is used).
            - defaultCatalogKey:    Provides the key used to parse data catalog from connection string (if omit 'Initial Catalog' is used).

          CONNECTION NODES:
            - id:            the name is used to access the connection string inside the code (e.g. )
                          (Notes: the id value 'frameworkDb' and 'applicationDb' are reserved and their value can be accessed through properties )
            - value:          database name
            - registrySubKey:      when present it overrides the value set by 'defaultRegistrySubKey'

            - dataSourceKey:      Provides the key used to parse data source from connection string (if omit defaultDataSourceKey is used).
            - catalogKey:        Provides the key used to parse data catalog from connection string (if omit defaultCatalogKey is used).
        -->
        <dataConnections defaultRegistrySubKey="CSI\v2.0\v4Dev" defaultCommandTimeout="600" defaultDataSourceKey="Server" defaultCatalogKey="Initial Catalog">
          <!-- Framework Database Name (Do not change attribute 'id' value)
            Provides the framework security database name  (default is CorporateDb, and its connection string is accessed via X.Data.Connections.FrameworkDb) 
          -->
          <connection id="frameworkDb" value="XDb" />
          <!-- Application Database (Do not change attribute 'id' value)
            Sets the common database for current application
          -->
          <connection id="applicationDb" value="AppDb_PSQuoter" />
          <!-- extra connections -->
          <!--
          <connection id="testDb" value="testDb" registrySubKey="Toromont .Net Framework\Production" />
          -->
        </dataConnections>
        <!--
          Session related settings:
          
          acceptedFileTypes - Only create session state for the page which extension is specified in this attribute (semicolon delimited value; default - .aspx)
          
          ==== NOTE: The following settings will be overwritten by settings in 'system.web/authentication/forms' if 'forms' authentication turned on =======
          cookieName    - Session cookie's name     
                    default - 'X.Net_SessionID:{0}'
                    NOTE: use placement '{0}' for filling application ID in the name, otherwise, the name specified here is used directly for cookie name.
          cookieDomain    - Session cookie's domain  (default - "")
          cookiePath      - Session cookie's path     (default - "/"; relative path can be used, e.g. '~/' means application path)  
          slidingExpiration  - Indicating whether the expiration is sliding (default: true)
          timeout        - Session timeout value (default value: 10 hours)
        -->
        <!-- EXAMPLES:
        
        <sessionState 
          acceptedFileTypes=".aspx;.asmx;.ashx;.axd"
              - add '.axd' to this attribute for using ReportViewer control
        
          slidingExpiration="true" 
          cookieDomain="" 
          cookiePath="/" 
          timeout="600">
        </sessionState>
        -->
        <sessionState />
        <!-- Authentication settings -->
        <authentication>
          <!-- only applicable when 'Forms' authentication mode is used -->
          <forms logoutUrl="~/modules/login/logout.aspx" />
          <!-- only applicable when 'Windows' authentication mode is used -->
          <windows defaultDomain="toromont" />
          <!-- Skipping Authorization 
            Specifies pages, folders names that you would like to skip authorization on them
            
            ATTRIBUTES:
                
            PAGE NODES:    
                
             - page:    specifies the pages url in 'url' attribute.
                    specifies the folder url ( e.g. 'modules/samples/' ) to skip all pages in its folder and child folders
          -->
          <skipAuthorization>
            <page url="modules/login/" />
          </skipAuthorization>
        </authentication>
        <!-- user list (impersonation, debug, trace users)
          mode:  user settings are ignored when the mode is set to 'Off'. Possible value: On|Off  
         -->
        <users mode="On">
          <user mode="On" userName="canamsolutions\fxiao" trace="true" debug="true">
            <impersonation mode="Off" userName="canamsolutions\pzdane" />
          </user>
          <user mode="On" userName="canamsolutions\zzhang" trace="true" debug="true">
            <impersonation mode="Off" userName="canamsolutions\pzdane" />
          </user>
          <user mode="On" userName="canamsolutions\jfu" trace="true" debug="true">
            <impersonation mode="Off" userName="canamsolutions\pzdane" />
          </user>
          <user mode="On" userName="canamsolutions\bchristensen" trace="true" debug="true">
            <impersonation mode="Off" userName="canamsolutions\pzdane" />
          </user>
          <user mode="On" userName="canamsolutions\jmatych" trace="true" debug="true">
            <impersonation mode="Off" userName="canamsolutions\pzdane" />
          </user>
          <user mode="On" userName="canamsolutions\pli" trace="true" debug="true">
            <impersonation mode="Off" userName="canamsolutions\pzdane" />
          </user>
          <user mode="On" userName="canamsolutions\jkim" trace="true" debug="true">
            <impersonation mode="Off" userName="canamsolutions\pzdane" />
          </user>
          <user mode="On" userName="canamsolutions\rbal" trace="true" debug="true">
            <impersonation mode="Off" userName="canamsolutions\pzdane" />
          </user>
          <user mode="On" userName="canamsolutions\vwang" trace="true" debug="true">
            <impersonation mode="Off" userName="canamsolutions\pzdane" />
          </user>
        </users>
      </defaultEnvironment>
      <!-- 
      +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++ Development Settings 
      +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      -->
      <environment locationType="development">
        <!-- MACHINE SETTINGS
          Specifies development machine names.
        -->
        <servers>
          <server name="redhost" />
        </servers>
        <!-- 
        ****************************************************************
        Overridable Settings 
          - uncomment following section to override its corresponding 
            settings in 'defaultEnvironment'.
          
          Note: Similarly, you can also override settings in other environments (staging, production) by this means
        ****************************************************************
        -->
        <!-- data connection settings  -->
        <dataConnections defaultRegistrySubKey="CSI\v2.0\v4Dev" defaultCommandTimeout="300">
          <connection id="frameworkDb" value="XDb" />
          <connection id="applicationDb" value="AppDb_PSQuoter" />
        </dataConnections>
        <!-- Authentication settings -->
        <authentication>
          <!--
          <forms logoutUrl="~/modules/login/logout.aspx" />
          <windows defaultDomain="toromont" />
          -->
          <skipAuthorization>
            <page url="get_aspx_ver.aspx" />
            <!--
            <page url="modules/samples/default.aspx" />
            -->
          </skipAuthorization>
        </authentication>
        <!-- user list (impersonation, debug, trace users) -->
        <!--
        <users mode="On">
          <user mode="On" userName="canamsolutions\fxiao" trace="true" debug="true">
            <impersonation mode="Off" userName="canamsolutions\pzdane" />          
          </user>
        </users>
        -->
      </environment>
      <!-- 
      +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++ Staging Settings 
      +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      -->
      <!--
      <environment locationType="staging" applicationID="0">
        <servers>
          <server name="sun"/>
        </servers>
      </environment>
      -->
      <!-- 
      +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++ Production Settings 
      +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      <environment locationType="production" applicationID="0">
        <servers>
          <server name="sun"/>
        </servers>
      </environment>
      -->
    </environments>
  </x.configuration>
  <!--//////////////////////////////////////////////////////////////////////////-->
  <appSettings>
    <add key="webpages:Enabled" value="false" />
    <add key="DealerCode" value="H010" />
    <add key="EndUseCode" value="PQ" />
    <add key="UseDlrSos" value=" " />
    <add key="aspnet:MaxHttpCollectionKeys" value="8000" />
    <add key="redcloud.PDFService" value="http://redhost/PDFBuilderService/PDFService.asmx" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="CustomApplicationStateModule" />
      <remove name="XSession" />
      <add name="CustomApplicationStateModule" type="X.Web.CustomApplicationStateModule, X.Web.GlobalApplicationStateManager" />
      <add name="XSession" type="X.Web.ApplicationStateModule, X.Web" />
    </modules>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="PartStoreOptionalServiceSOAP11Binding">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageSecurityVersion="Default">
            <localClientSettings cacheCookies="true" detectReplays="false" replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite" replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00" maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00" negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00" sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
            <secureConversationBootstrap />
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="16005536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="16005536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
        <binding name="PartStoreOptionalServiceSOAP12Binding">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageSecurityVersion="Default">
            <localClientSettings cacheCookies="true" detectReplays="false" replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite" replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00" maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00" negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00" sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
            <secureConversationBootstrap />
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="16005536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="16005536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
        <binding name="PartStoreRequiredServiceSOAP11Binding">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageSecurityVersion="Default">
            <localClientSettings cacheCookies="true" detectReplays="false" replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite" replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00" maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00" negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00" sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
            <secureConversationBootstrap defaultAlgorithmSuite="Default" />
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="16005536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="16005536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
        <binding name="PartStoreRequiredServiceSOAP12Binding">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageSecurityVersion="Default">
            <localClientSettings cacheCookies="true" detectReplays="false" replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite" replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00" maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00" negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00" sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
            <secureConversationBootstrap defaultAlgorithmSuite="Default" />
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="16005536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="16005536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://midtierws.cat.com/webapp/services/PartStoreOptionalService" binding="customBinding" bindingConfiguration="PartStoreOptionalServiceSOAP11Binding" contract="PartStoreOptionalService.PartStoreOptionalServicePortType" name="PartStoreOptionalServiceSOAP11port_https" />
      <endpoint address="http://midtierws.cat.com:80/webapp/services/PartStoreOptionalService" binding="customBinding" bindingConfiguration="PartStoreOptionalServiceSOAP11Binding" contract="PartStoreOptionalService.PartStoreOptionalServicePortType" name="PartStoreOptionalServiceSOAP11port_http1" />
      <endpoint address="https://midtierws.cat.com:80/webapp/services/PartStoreOptionalService" binding="customBinding" bindingConfiguration="PartStoreOptionalServiceSOAP12Binding" contract="PartStoreOptionalService.PartStoreOptionalServicePortType" name="PartStoreOptionalServiceSOAP12port_https" />
      <endpoint address="http://midtierws.cat.com:80/webapp/services/PartStoreOptionalService" binding="customBinding" bindingConfiguration="PartStoreOptionalServiceSOAP12Binding" contract="PartStoreOptionalService.PartStoreOptionalServicePortType" name="PartStoreOptionalServiceSOAP12port_http1" />
      <endpoint address="https://midtierws.cat.com/webapp/services/PartStoreRequiredService" binding="customBinding" bindingConfiguration="PartStoreRequiredServiceSOAP11Binding" contract="PartStoreService.PartStoreRequiredServicePortType" name="PartStoreRequiredServiceSOAP11port_https" />
      <endpoint address="http://midtierws.cat.com:8080/webapp/services/PartStoreRequiredService" binding="customBinding" bindingConfiguration="PartStoreRequiredServiceSOAP11Binding" contract="PartStoreService.PartStoreRequiredServicePortType" name="PartStoreRequiredServiceSOAP11port_http1" />
      <endpoint address="https://midtierws.cat.com:80/webapp/services/PartStoreRequiredService" binding="customBinding" bindingConfiguration="PartStoreRequiredServiceSOAP12Binding" contract="PartStoreService.PartStoreRequiredServicePortType" name="PartStoreRequiredServiceSOAP12port_https" />
      <endpoint address="http://midtierws.cat.com:8080/webapp/services/PartStoreRequiredService" binding="customBinding" bindingConfiguration="PartStoreRequiredServiceSOAP12Binding" contract="PartStoreService.PartStoreRequiredServicePortType" name="PartStoreRequiredServiceSOAP12port_http1" />
    </client>
  </system.serviceModel>
</configuration>

