@inherits UI.Abstracts.MasterPages.QuoteDetailViewLayout
<div id="quoteHeader">@Html.Partial("_Header")</div>
<div id="revisionTabs">@Html.Partial("_RevisionTabs")</div>
<div id="revisionContent">@RenderBody()</div>